<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{plantillas/plantilla :: head}"></head>
</head>

<body>
    <header th:replace="~{plantillas/plantilla :: navbar_loggedin}"></header>
    <main class="container text-center opacity-75 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h1 th:text="${contenido}"></h1>
        <form id="saveLineaOrdenForm" th:action="@{/lineaOrden/salvar-lineaOrden}" th:object="${lineaOrden}"
            method="post">
            <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
                Verifique los siguientes errores
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                </ul>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="orden">Orden</label>
                        <input type="number" class="form-control" id="orden" name="orden" placeholder="Orden" required
                            min="1" max="100" th:value="${lineaOrden.orden}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="dulce">Dulce</label>
                        <input type="number" class="form-control" id="dulce" name="dulce" placeholder="Dulce" required
                            min="1" max="100" th:value="${lineaOrden.dulce}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="arreglo">Arreglo</label>
                        <input type="number" class="form-control" id="arreglo" name="arreglo" placeholder="Arreglo"
                            required min="1" max="100" th:value="${lineaOrden.arreglo}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="mesa">Mesa</label>
                        <input type="number" class="form-control" id="mesa" name="mesa" placeholder="Mesa" required
                            min="1" max="100" th:value="${lineaOrden.mesa}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Cantidad"
                            required min="1" max="100" th:value="${lineaOrden.cantidad}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input type="text" class="form-control" id="precio" name="precio" placeholder="Ejemplo 32.43"
                            required pattern="^\d*(\.\d{0,2})?$" th:value="${lineaOrden.precio}">
                    </div>
                </div>
                <div class="col-md-3">
                    <br />
                    <button type="submit" class="btn btn-primary boton">Guardar</button>
                </div>
            </div>
        </form>
    </main>
    <footer th:replace="~{plantillas/plantilla :: footer}"></footer>
    <script>
        function getCookie(name) {
            let cookieArr = document.cookie.split(";");
            for (let i = 0; i < cookieArr.length; i++) {
                let cookiePair = cookieArr[i].split("=");
                if (name === cookiePair[0].trim()) {
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }

        document.getElementById('saveLineaOrdenForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            const jwtToken = getCookie('jwt');
            console.log('jwt: ', jwtToken);

            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + jwtToken
                },
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        console.log('LineaOrden guardado: ', response);
                        alert('LineaOrden guardado con éxito');
                        window.location.href = '/';
                    }
                    else {
                        console.log('LineaOrden no guardado: ', response);
                        alert('Acceso Negado, tu petición no contiene el JWT');
                        window.location.href = '/';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al guardar el lineaOrden');
                });
        });
    </script>
</body>

</html>