<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
</head>
<body>
<header th:replace= "~{plantillas/plantilla :: navbar_loggedin}"></header>
<main class="container text-center opacity-75 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1 th:text="${contenido}"></h1>
    <form id="saveOrdenForm" th:action="@{/orden/salvar-orden}" th:object="${orden}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
            Verifique los siguientes errores
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cliente">Cliente</label>
                    <select class="form-control" th:field="*{cliente}" id="cliente" name="cliente" required="requiered">
                        <option th:each="sel : ${selectCliente}" th:value="${sel.id}" th:text="'Cliente: '+${sel.id} +' Nombre: '+${sel.nombre} +' Apellidos: '+${sel.apellidos}"/>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tipoOrden">Tipo orden</label>
                    <input type="text" class="form-control" id="tipoOrden" name="tipoOrden"
                           placeholder="Tipo orden" required="required"
                           th:field="*{tipoOrden}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="estatus">Estatus</label>
                    <input type="text" class="form-control" id="estatus" name="estatus"
                           placeholder="Estatus" required="required"
                           th:field="*{estatus}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="direccionEntrega">Dirección</label>
                    <textarea class="form-control" id="direccionEntrega" name="direccionEntrega"
                              cols="10" rows="10"
                              placeholder="Direccion"
                              th:field="*{direccionEntrega}"></textarea>
                </div>
                <ul>
                    <li th:each="err : ${#fields.errors('direccionEntrega')}" th:text="${err}" class="error" />
                </ul>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="anticipo">Precio</label>
                    <input type="text" class="form-control" id="anticipo" name="anticipo"
                           placeholder="Ejemplo 32.43" required
                           pattern="^\d*(\.\d{0,2})?$"
                           th:value="${orden.anticipo}">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="momentoPedido">Momento Pedido </label>
                    <input type="datetime-local" class="form-control" id="momentoPedido"
                           name="momentoPedido"
                           placeholder="Momento Pedido" required
                           th:value="${orden.momentoPedido}">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="momentoEntrega">Momento Entrega </label>
                    <input type="datetime-local" class="form-control" id="momentoEntrega"
                           name="momentoEntrega"
                           placeholder="Momento Entrega"
                           th:value="${orden.momentoEntrega}">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="descuento">Descuento</label>
                    <input type="text" class="form-control" id="descuento" name="descuento"
                           placeholder="Ejemplo 32.43"
                           pattern="^\d*(\.\d{0,2})?$"
                           th:value="${orden.descuento}">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="precioTotal">Precio Total</label>
                    <input type="text" class="form-control" id="precioTotal" name="precioTotal"
                           placeholder="Ejemplo 32.43" required
                           pattern="^\d*(\.\d{0,2})?$"
                           th:value="${orden.precioTotal}">
                </div>
            </div>
            <div class="col-md-3">
                <br/>
                <button type="submit" class="btn btn-primary boton">Guardar</button>
            </div>
        </div>
    </form>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
<script>
    function getCookie(name) {
        let cookieArr = document.cookie.split(";");
        for (let i = 0; i < cookieArr.length; i++) {
            let cookiePair = cookieArr[i].split("=");
            if (name === cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }
        return null;
    }

    document.getElementById('saveOrdenForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const jwtToken = getCookie('jwt');
        console.log('jwt: ', jwtToken);

        fetch(form.action, {
            method: 'POST',
            headers: {
                'Authorization': 'Bearer ' + jwtToken
            },
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    console.log('Orden guardado: ', response);
                    alert('Orden guardado con éxito');
                    window.location.href = '/';
                } else {
                    console.log('Orden no guardado: ', response);
                    alert('Acceso Negado, tu petición no contiene el JWT');
                    window.location.href = '/';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al guardar el orden');
            });
    });
</script>
</body>
</html>